<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do |category|%>
  <li><%= category.title  %>
    <div class="card">
      <ul id=<%= category.title.split(" ").join().downcase %>>
        <% category.tasks.order("deadline ASC").each do |task|  %>
          <%= render 'tasks/task', task: task %>
        <% end %>
      </ul>
    </div>
  </li>
  <% end %>
  </ul>
</div>
<!--
<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
-->