    <tr><td id="e-title"><%=email.object%></td></tr>
    <tr><td id="e-body"><%=email.body%></td></tr>
    <tr><td class="text-right">
    <%if email.read == false%>
    <%= link_to "Marquer comme lu", email_path(email.id), remote: true, class:"btn btn-info btn-small", method: "put"%>
    <%else%>
    <%= link_to "Marquer comme non lu", email_path(email.id), remote: true, class:"btn btn-outline-info btn-small", method: "put"%>
    <%end%>
    <%= link_to "Supprimer", email_path(email.id), remote: true, data: { confirm: "Confirmer la suppression" }, method: :delete, class:"btn btn-danger btn-small"%>
    </td>
    </tr>